name: 'Terraform Cd'

on:
  workflow_run:
     workflows: ['Terraform CI']
     types:
          - completed
  workflow_dispatch:

permissions:
   contents: read
   packages: write
   id-token: write
   actions: read

jobs:
   build:
      runs-on: ubuntu-latest
      environment: production

      defaults:
        run:
           shell: bash
           working-directory: ./tf_Config

      steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Terraform
            uses: hashicorp/setup-terraform@v1

          - name: Download artifact using GitHub API
            run: |
              # Define the GitHub API URL
              API_URL="https://api.github.com/repos/Tanisha-221/Auto_Sandbox/actions/runs/${{ github.event.workflow_run.id }}/artifacts"
              
              # Fetch artifact ID using GitHub API
              artifact_id=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" $API_URL | jq -r '.artifacts[0].id')
              
              # Download the artifact
              curl -L -o terraform-output.zip -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/Tanisha-221/Auto_Sandbox/actions/artifacts/$artifact_id/zip"

          - name: Extract Terraform Plan Artifact
            run: |
                 unzip terraform-output.zip -d ./downloaded-artifacts

          - name: Verify contents of downloaded artifact
            run: |
                  ls -lh ./downloaded-artifacts

          - name: Azure Login
            uses: azure/login@v1
            with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}

          - name: Terraform Init
            run: |
                terraform init

          - name: Terraform Apply
            env:
                 ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
                 ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
                 ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
                 ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
                 ADMIN_USERNAME: ${{ secrets.ADMINUSERNAME }}
                 ADMIN_PASSWORD: ${{ secrets.ADMINPASSWORD }}
            run: |

                  if [ ! -f ./downloaded-artifacts/tfplan.out ]; then
                      echo "Terraform plan file (tfplan.out) does not exist."
                      exit 1
                  fi

                  terraform apply -input=false -auto-approve \
                  -var="adminUsername=${{ secrets.ADMINUSERNAME }}" \
                  -var="adminPassword=${{ secrets.ADMINPASSWORD }}" \

          - name: Output Terraform Apply result
            run: terraform show ./downloaded-artifacts