name: Terraform Cd 

on:
  # workflow_run:
  #   workflows: ["Terraform CI"]
  #   types:
  #     - completed
  workflow_dispatch:
    
permissions:
  contents: read
  packages: write
  id-token: write
  actions: read 

jobs:
 build:
  runs-on: ubuntu-latest
  environment: production

  defaults:
    run:
      shell: bash
      working-directory: ./tf_Config

  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download artifact using GitHub API
      run: |
         # Define the GitHub API URL
         API_URL="https://api.github.com/repos/Tanisha-221/Auto_Sandbox/actions/runs/${{ github.event.workflow_run.id }}/artifacts"
    
         # Fetch artifact ID using GitHub API
         artifact_id=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" $API_URL | jq -r '.artifacts[0].id')
    
         # Download the artifact
         curl -L -o terraform-output.zip -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/Tanisha-221/Auto_Sandbox/actions/artifacts/$artifact_id/zip"
    
      # Unzip the downloaded artifact
    - name: Extract Terraform Plan Artifact
      run: |
          unzip terraform-plan.zip -d ./downloaded-artifacts
          ls -lh ./downloaded-artifacts

      # Verify the contents of the downloaded artifacts
    - name: Verify contents of downloaded artifact
      run: |
          ls -lh ./downloaded-artifacts

      # Azure Login
    - name: Azure Login
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Parse and Apply the Terraform Plan
    - name: Apply Terraform Plan
      env:
          ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
          ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
          ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
          ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
          ADMIN_USERNAME: ${{ secrets.ADMINUSERNAME }}
          ADMIN_PASSWORD: ${{ secrets.ADMINPASSWORD }}
      run: |
          # Ensure we are in the correct directory
          cd ./downloaded-artifacts/terraform-output

          # Apply the Terraform plan (ensure we're not overwriting any existing state)
          terraform apply -input=false -auto-approve artifacts/tfplan.out \
          -var="adminUsername=${{ secrets.ADMINUSERNAME }}" \
          -var="adminPassword=${{ secrets.ADMINPASSWORD }}"

      # Output Terraform Apply result
    - name: Output Terraform Apply result
      run: terraform show