name: 'Terraform Cd'

on:
  workflow_run:
     workflows: ['Terraform CI']
     types:
          - completed
  workflow_dispatch:

permissions:
   contents: read
   packages: write
   id-token: write
   actions: read

jobs:
   build:
      runs-on: ubuntu-latest
      environment: production

      defaults:
        run:
           shell: bash
           working-directory: ./tf_Config

      steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Terraform
            uses: hashicorp/setup-terraform@v1

          - name: Download artifact using GitHub API
            run: |
              # Define the GitHub API URL
              API_URL="https://api.github.com/repos/Tanisha-221/Auto_Sandbox/actions/runs/${{ github.event.workflow_run.id }}/artifacts"
              
              # Fetch artifact ID using GitHub API
              artifact_id=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" $API_URL | jq -r '.artifacts[0].id')
              
              # Download the artifact
              curl -L -o terraform-output.zip -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/Tanisha-221/Auto_Sandbox/actions/artifacts/$artifact_id/zip"

          - name: Extract Terraform Plan Artifact
            run: |
                 unzip terraform-output.zip -d ./downloaded-artifacts

          - name: Verify contents of downloaded artifact
            run: |
                  ls -lh ./downloaded-artifacts

          - name: Azure Login
            uses: azure/login@v1
            with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}

          - name: Extract Azure credentials
            shell: bash
            run: |
                  SUBSCRIPTION_ID=$(jq -r '.subscriptionId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
                  CLIENT_ID=$(jq -r '.clientId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
                  CLIENT_SECRET=$(jq -r '.clientSecret' <<< '${{ secrets.AZURE_CREDENTIALS }}')
                  TENANT_ID=$(jq -r '.tenantId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
                  ADMIN_USERNAME=$(jq -r '.adminUsername' <<< '${{ secrets.ADMINUSERNAME }}' )
                  ADMIN_PASSWORD=$(jq -r '.adminPassword' <<< '${{ secrets.ADMINPASSWORD }}' )

                  echo "::add-mask::$SUBSCRIPTION_ID"
                  echo "::add-mask::$CLIENT_ID"
                  echo "::add-mask::$CLIENT_SECRET"
                  echo "::add-mask::$TENANT_ID"
                  echo "::add-mask::$ADMIN_USERNAME"
                  echo "::add-mask::$ADMIN_PASSWORD"

                  echo "ARM_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
                  echo "ARM_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
                  echo "ARM_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV
                  echo "ARM_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV
                  echo "ARM_ADMIN_USERNAME=$ADMIN_USERNAME" >> $GITHUB_ENV
                  echo "ARM_ADMIN_PASSWORD=$ADMIN_PASSWORD" >> $GITHUB_ENV

          - name: Terraform Init
            run: |
                terraform init

          - name: Terraform Apply
            env:
                TF_VAR_adminUsername: ${{ secrets.ADMIN_USERNAME }}
                TF_VAR_adminpassword: ${{ secrets.ADMIN_PASSWORD }}
            run: |
                terraform apply -input=false -auto-approve  
          # - name: Send notification on slack
          #   uses: rtCamp/action-slack-notify@v2
          #   env:
          #         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          #   with:
          #       args: |
          #           {
          #             "text": "Terraform CD Pipeline has successfully completed :white_check_mark:"
          #           }