name: 'Drift Detection Pipeline'

on:
  push:
    branches:
       - "*"
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  packages: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash
        working-directory: ./tf_Config

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4

      # Set up Terraform CLI
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      # Initialize Terraform working directory
      - name: Terraform Init
        run: terraform init

      # Azure login using credentials stored in GitHub Secrets
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Extract Azure credentials
        shell: bash
        run: |
              SUBSCRIPTION_ID=$(jq -r '.subscriptionId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
              CLIENT_ID=$(jq -r '.clientId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
              CLIENT_SECRET=$(jq -r '.clientSecret' <<< '${{ secrets.AZURE_CREDENTIALS }}')
              TENANT_ID=$(jq -r '.tenantId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
              ADMIN_USERNAME=$(jq -r '.adminUsername' <<< '${{ secrets.ADMINUSERNAME }}' )
              ADMIN_PASSWORD=$(jq -r '.adminPassword' <<< '${{ secrets.ADMINPASSWORD }}' )

              echo "::add-mask::$SUBSCRIPTION_ID"
              echo "::add-mask::$CLIENT_ID"
              echo "::add-mask::$CLIENT_SECRET"
              echo "::add-mask::$TENANT_ID"
              echo "::add-mask::$ADMIN_USERNAME"
              echo "::add-mask::$ADMIN_PASSWORD"

              echo "ARM_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
              echo "ARM_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
              echo "ARM_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV
              echo "ARM_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV
              echo "ARM_ADMIN_USERNAME=$ADMIN_USERNAME" >> $GITHUB_ENV
              echo "ARM_ADMIN_PASSWORD=$ADMIN_PASSWORD" >> $GITHUB_ENV

      # Generate Terraform plan
      - name: Terraform Plan
        env: 
            TF_VAR_adminUsername: ${{ secrets.ADMIN_USERNAME }}
            TF_VAR_adminpassword: ${{ secrets.ADMIN_PASSWORD }}
        run: |
             mkdir -p artifacts 
             terraform plan -out=artifacts/tfplan.out -input=false \

      - name: Upload Terraform Plan Artifact
        uses: actions/upload-artifact@v4
        with: 
          name: tfplan
          path: artifacts/tfplan.out

      # Drift Detection (Using Terraform to check for drift)
      - name: Detect Drift
        run: |
          set +e

          if [ ! -f artifacts/tfplan.out ]; then
              echo "ERROR: Terraform plan file not found"
              exit 1
          fi

          terraform show -json artifacts/tfplan.out > artifacts/tfplan.json
          
          DRIFT_COUNT=$(jq '
            [.resource_changes[]
             | select(.change.actions | index("update") or index("delete"))]
             | length
          ' artifacts/tfplan.json)

          echo "Drifted resources: $DRIFT_COUNT"

          if [ "$DRIFT_COUNT" -gt 0 ]; then
            echo "DRIFT_DETECTED=true" | tee artifacts/drift-detection.txt
            exit 2
          else
            echo "DRIFT_DETECTED=false" | tee artifacts/drift-detection.txt
          fi

      - name: Upload Drift Detection Result
        uses: actions/upload-artifact@v4
        with:
          name: drift-detection-result
          path: artifacts/drift-detection.txt

      # # Send a notification on Slack in case of failure
      # - name: Send Notification on Slack
      #   if: failed()
      #   uses: 8398a7/action-slack@v3
      #   with:
      #     status: ${{ job.status }}
      #     fields: repo,commit,author,workflow,job,ref,sha
      #   env:
      #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}