name: 'Drift Detection Pipeline'

on:
   workflow_dispatch:

permissions:
  contents: read
  actions: read
  packages: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash
        working-directory: ./tf_Config

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4

      # Set up Terraform CLI
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq


      # Initialize Terraform working directory
      - name: Terraform Init
        run: terraform init

      # Format Terraform configuration files to a canonical format
      - name: Terraform Format
        run: terraform fmt

      # Azure login using credentials stored in GitHub Secrets
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Generate Terraform plan
      - name: Terraform Plan
        env:
            ARM_SUBSCRIPTION_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}
            ARM_CLIENT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
            ARM_CLIENT_SECRET: ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}
            ARM_TENANT_ID: ${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}
            ADMIN_USERNAME: ${{ fromJson(secrets.ADMINUSERNAME).adminUsername }}
            ADMIN_PASSWORD: ${{ fromJson(secrets.ADMINPASSWORD).adminPassword }}
        
        run: |
             mkdir -p artifacts 
             terraform plan -out=artifacts/tfplan.out -input=false \
             -var="adminUsername=${{ secrets.ADMINUSERNAME }}" \
             -var="adminpassword=${{ secrets.ADMINPASSWORD }}"

      # Upload the Terraform plan artifact
      - name: Upload Terraform Plan Artifact
        uses: actions/upload-artifact@v4
        with: 
            name: terraform-plan
            path: artifacts/tfplan.out
            
      # Generate JSON representation of the Terraform plan
      - name: Generate Terraform Plan JSON
        run: |
            terraform show -json artifacts/tfplan.out > artifacts/tfplan.json 

      - name: Print Terraform plan JSON
        run: cat artifacts/tfplan.json
   
      # Drift Detection (Using Terraform to check for drift)
      - name: Drift Detection (Terraform Plan)
        id: drift
        run: |
             # Generate the Terraform plan output
             terraform show -json artifacts/tfplan.out > artifacts/tfplan.json

             # Use jq to check if there are resource changes
             CHANGES=$(jq '.resource_changes | length' artifacts/tfplan.json)

             # If drift (changes) are detected, set DRIFT_DETECTED to true
             if [ "$CHANGES" -gt 0 ]; then
               echo "DRIFT_DETECTED=true" >> $GITHUB_ENV
             else
               echo "DRIFT_DETECTED=false" >> $GITHUB_ENV
             fi

      # Upload the drift detection result file
      - name: Upload Drift Detection Result
        uses: actions/upload-artifact@v4
        with:
          name: drift-detection-result
          path: artifacts/drift-detection.txt

      # Send a notification on Slack in case of failure
      - name: Send Notification on Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,commit,author,workflow,job,ref,sha
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
