name: 'Sandbox Creation CICD'

on:
  workflow_dispatch:
    inputs:
      resource_group: 
        description: "Name of the Sandbox"
        default: Sandbox
        required: true
  push:
    branches:
          - "*"

permissions:
  contents: read
  actions: read
  packages: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
  
    defaults:
      run:
        shell: bash
        working-directory: ./Version2/tf_config

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    # Initialize Terraform working directory
    - name: Terraform Init
      run: terraform init 

    - name: Lint Checkout
      run: terraform fmt

    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Extract Azure credentials
      shell: bash
      run: |
        SUBSCRIPTION_ID=$(jq -r '.subscriptionId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
        CLIENT_ID=$(jq -r '.clientId' <<< '${{ secrets.AZURE_CREDENTIALS }}')
        CLIENT_SECRET=$(jq -r '.clientSecret' <<< '${{ secrets.AZURE_CREDENTIALS }}')
        TENANT_ID=$(jq -r '.tenantId' <<< '${{ secrets.AZURE_CREDENTIALS }}')

        echo "::add-mask::$SUBSCRIPTION_ID"
        echo "::add-mask::$CLIENT_ID"
        echo "::add-mask::$CLIENT_SECRET"
        echo "::add-mask::$TENANT_ID"

        echo "ARM_SUBSCRIPTION_ID=$SUBSCRIPTION_ID" >> $GITHUB_ENV
        echo "ARM_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$CLIENT_SECRET" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$TENANT_ID" >> $GITHUB_ENV

    # Generate Terraform plan and store it as an artifact
    - name: Terraform Plan
      env:
          TF_VAR_resource_group: ${{ github.event.inputs.resource_group || 'Sandbox' }}
      run: |
        mkdir -p artifacts 
        terraform plan -out=artifacts/tfplan.out -input=false

    # Upload Terraform plan artifact
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with: 
        name: terraform-plan
        path: ./Version2/tf_Config/artifacts/tfplan.out
      
    # List files for debugging purposes (optional)
    - name: List files
      run: ls -R

    # Show working directory (optional)
    - name: PWD path
      run: pwd

    - name: Terraform Apply
      env:
          TF_VAR_resource_group: ${{ github.event.inputs.resource_group || 'Sandbox' }}
      run: |
        terraform apply -input=false ./artifacts/tfplan.out

    - name: Delete Terraform state 
      run: terraform state rm